lazy-lock.json
undo/
sources/

mason_packages/Linux/packages/lua-language-server/libexec/meta/LuaJIT en-us utf8
mason_packages/Linux/packages/lua-language-server/libexec/meta/LuaJIT en-us utf8/*.lua
mason_packages/Linux/packages/lua-language-server/libexec/log/
