[submodule "bundle/zoomwintab.vim"]
	path = bundle/zoomwintab.vim
	url = git@github.com:troydm/zoomwintab.vim.git
[submodule "bundle/hybrid2.nvim"]
	path = bundle/hybrid2.nvim
	url = git@github.com:ColinKennedy/hybrid2.nvim.git
[submodule "bundle/neogen"]
	path = bundle/neogen
	url = git@github.com:ColinKennedy/neogen.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git@github.com:ColinKennedy/vim-dispatch.git
[submodule "bundle/vim-file-system-watcher"]
	path = bundle/vim-file-system-watcher
	url = git@github.com:ColinKennedy/vim-file-system-watcher.git
[submodule "bundle/vim-git-backup"]
	path = bundle/vim-git-backup
	url = git@github.com:ColinKennedy/vim-git-backup.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git@github.com:ColinKennedy/vim-indent-object.git
[submodule "bundle/vim-ninja-feet"]
	path = bundle/vim-ninja-feet
	url = git@github.com:ColinKennedy/vim-ninja-feet.git
[submodule "bundle/vim-python-dot-path"]
	path = bundle/vim-python-dot-path
	url = git@github.com:ColinKennedy/vim-python-dot-path.git
[submodule "bundle/vim-strip-trailing-whitespace"]
	path = bundle/vim-strip-trailing-whitespace
	url = git@github.com:ColinKennedy/vim-strip-trailing-whitespace.git
[submodule "bundle/vim-usd-complete"]
	path = bundle/vim-usd-complete
	url = git@github.com:ColinKennedy/vim-usd-complete.git
[submodule "bundle/vim-usd-crate-auto-convert"]
	path = bundle/vim-usd-crate-auto-convert
	url = git@github.com:ColinKennedy/vim-usd-crate-auto-convert.git
[submodule "bundle/vim-usd-goto"]
	path = bundle/vim-usd-goto
	url = git@github.com:ColinKennedy/vim-usd-goto.git
[submodule "bundle/vim-vex-complete"]
	path = bundle/vim-vex-complete
	url = git@github.com:ColinKennedy/vim-vex-complete.git
[submodule "bundle/vim-argwrap"]
	path = bundle/vim-argwrap
	url = git@github.com:FooSoft/vim-argwrap.git
[submodule "bundle/vim-textobj-variable-segment"]
	path = bundle/vim-textobj-variable-segment
	url = git@github.com:Julian/vim-textobj-variable-segment.git
[submodule "bundle/vim-gemini"]
	path = bundle/vim-gemini
	url = git@github.com:KaraMCC/vim-gemini.git
[submodule "bundle/LuaSnip"]
	path = bundle/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
[submodule "bundle/vim-addon-local-vimrc"]
	path = bundle/vim-addon-local-vimrc
	url = git@github.com:ColinKennedy/vim-addon-local-vimrc.git
[submodule "bundle/cmp-tmux"]
	path = bundle/cmp-tmux
	url = git@github.com:andersevenrud/cmp-tmux.git
[submodule "bundle/quick-scope"]
	path = bundle/quick-scope
	url = git@github.com:bradford-smith94/quick-scope.git
[submodule "bundle/cmp-buffer"]
	path = bundle/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
[submodule "bundle/cmp-cmdline"]
	path = bundle/cmp-cmdline
	url = git@github.com:hrsh7th/cmp-cmdline.git
[submodule "bundle/cmp-nvim-lsp"]
	path = bundle/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "bundle/cmp-path"]
	path = bundle/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "bundle/nvim-cmp"]
	path = bundle/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "bundle/fidget.nvim"]
	path = bundle/fidget.nvim
	url = git@github.com:j-hui/fidget.nvim.git
[submodule "bundle/vim-indentwise"]
	path = bundle/vim-indentwise
	url = git@github.com:jeetsukumaran/vim-indentwise.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "bundle/vim-ipmotion"]
	path = bundle/vim-ipmotion
	url = git@github.com:justinmk/vim-ipmotion.git
[submodule "bundle/vim-operator-replace"]
	path = bundle/vim-operator-replace
	url = git@github.com:kana/vim-operator-replace.git
[submodule "bundle/vim-operator-user"]
	path = bundle/vim-operator-user
	url = git@github.com:kana/vim-operator-user.git
[submodule "bundle/vim-textobj-indent"]
	path = bundle/vim-textobj-indent
	url = git@github.com:kana/vim-textobj-indent.git
[submodule "bundle/vim-textobj-line"]
	path = bundle/vim-textobj-line
	url = git@github.com:kana/vim-textobj-line.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "bundle/bufresize.nvim"]
	path = bundle/bufresize.nvim
	url = git@github.com:kwkarlwang/bufresize.nvim.git
[submodule "bundle/gitsigns.nvim"]
	path = bundle/gitsigns.nvim
	url = git@github.com:ColinKennedy/gitsigns.nvim.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "bundle/smart-splits.nvim"]
	path = bundle/smart-splits.nvim
	url = git@github.com:mrjones2014/smart-splits.nvim.git
[submodule "bundle/nvim-lspconfig"]
	path = bundle/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "bundle/Comment.nvim"]
	path = bundle/Comment.nvim
	url = git@github.com:numToStr/Comment.nvim.git
[submodule "bundle/plenary.nvim"]
	path = bundle/plenary.nvim
	url = git@github.com:ColinKennedy/plenary.nvim.git
[submodule "bundle/lualine.nvim"]
	path = bundle/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim.git
[submodule "bundle/nvim-web-devicons"]
	path = bundle/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons.git
[submodule "bundle/nvim-treesitter-textobjects"]
	path = bundle/nvim-treesitter-textobjects
	url = git@github.com:ColinKennedy/nvim-treesitter-textobjects.git
[submodule "bundle/nvim-treesitter"]
	path = bundle/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "bundle/lspkind.nvim"]
	path = bundle/lspkind.nvim
	url = git@github.com:onsails/lspkind.nvim.git
[submodule "bundle/jedi-language-server"]
	path = bundle/jedi-language-server
	url = git@github.com:pappasam/jedi-language-server.git
[submodule "bundle/python-lsp-server"]
	path = bundle/python-lsp-server
	url = git@github.com:python-lsp/python-lsp-server.git
[submodule "bundle/vim-cool"]
	path = bundle/vim-cool
	url = git@github.com:romainl/vim-cool.git
[submodule "bundle/cmp_luasnip"]
	path = bundle/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
[submodule "bundle/aerial.nvim"]
	path = bundle/aerial.nvim
	url = git@github.com:stevearc/aerial.nvim.git
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/mason.nvim"]
	path = bundle/mason.nvim
	url = git@github.com:williamboman/mason.nvim.git
[submodule "bundle/spaceless.nvim"]
	path = bundle/spaceless.nvim
	url = git@github.com:lewis6991/spaceless.nvim.git
[submodule "bundle/lsp_signature.nvim"]
	path = bundle/lsp_signature.nvim
	url = git@github.com:ray-x/lsp_signature.nvim.git
[submodule "bundle/vim-textobj-comment"]
	path = bundle/vim-textobj-comment
	url = git@github.com:glts/vim-textobj-comment.git
[submodule "bundle/nvim-gps"]
	path = bundle/nvim-gps
	url = git@github.com:ColinKennedy/nvim-gps.git
[submodule "bundle/winbar.nvim"]
	path = bundle/winbar.nvim
	url = git@github.com:ColinKennedy/winbar.nvim.git
[submodule "bundle/nvim-dap"]
	path = bundle/nvim-dap
	url = git@github.com:mfussenegger/nvim-dap.git
[submodule "bundle/nvim-dap-ui"]
	path = bundle/nvim-dap-ui
	url = git@github.com:ColinKennedy/nvim-dap-ui.git
[submodule "bundle/nvim-dap-python"]
	path = bundle/nvim-dap-python
	url = git@github.com:mfussenegger/nvim-dap-python.git
[submodule "bundle/treesj"]
	path = bundle/treesj
	url = git@github.com:Wansmer/treesj.git
[submodule "bundle/nvim-bqf"]
	path = bundle/nvim-bqf
	url = git@github.com:kevinhwang91/nvim-bqf.git
[submodule "bundle/nvim-dap-virtual-text"]
	path = bundle/nvim-dap-virtual-text
	url = git@github.com:ColinKennedy/nvim-dap-virtual-text.git
[submodule "bundle/zoxide.vim"]
	path = bundle/zoxide.vim
	url = git@github.com:nanotee/zoxide.vim.git
[submodule "bundle/wilder.nvim"]
	path = bundle/wilder.nvim
	url = git@github.com:Gelio/wilder.nvim.git
[submodule "bundle/fzy-lua-native"]
	path = bundle/fzy-lua-native
	url = git@github.com:romgrk/fzy-lua-native.git
[submodule "bundle/hex.nvim"]
	path = bundle/hex.nvim
	url = git@github.com:RaafatTurki/hex.nvim.git
[submodule "bundle/which-key.nvim"]
	path = bundle/which-key.nvim
	url = git@github.com:folke/which-key.nvim.git
[submodule "bundle/rust-tools.nvim"]
	path = bundle/rust-tools.nvim
	url = git@github.com:ColinKennedy/rust-tools.nvim
[submodule "bundle/grapple.nvim"]
	path = bundle/grapple.nvim
	url = git@github.com:cbochs/grapple.nvim.git
[submodule "bundle/better-escape.nvim"]
	path = bundle/better-escape.nvim
	url = git@github.com:max397574/better-escape.nvim.git
[submodule "bundle/nvim-lint"]
	path = bundle/nvim-lint
	url = git@github.com:mfussenegger/nvim-lint.git
[submodule "bundle/hydra.nvim"]
	path = bundle/hydra.nvim
	url = git@github.com:nvimtools/hydra.nvim.git
[submodule "bundle/leap.nvim"]
	path = bundle/leap.nvim
	url = git@github.com:ggandor/leap.nvim.git
[submodule "bundle/symbols-outline.nvim"]
	path = bundle/symbols-outline.nvim
	url = git@github.com:simrat39/symbols-outline.nvim.git
[submodule "bundle/vim-qfedit"]
	path = bundle/vim-qfedit
	url = git@github.com:itchyny/vim-qfedit.git
[submodule "bundle/nvim-rg"]
	path = bundle/nvim-rg
	url = git@github.com:duane9/nvim-rg.git
[submodule "bundle/marks.nvim"]
	path = bundle/marks.nvim
	url = git@github.com:chentoast/marks.nvim
[submodule "bundle/vim-gh-line"]
	path = bundle/vim-gh-line
	url = git@github.com:chentoast/vim-gh-line
[submodule "bundle/hlargs.nvim"]
	path = bundle/hlargs.nvim
	url = git@github.com:m-demare/hlargs.nvim.git
[submodule "bundle/nvim-tree.lua"]
	path = bundle/nvim-tree.lua
	url = git@github.com:nvim-tree/nvim-tree.lua.git
[submodule "bundle/debugprint.nvim"]
	path = bundle/debugprint.nvim
	url = git@github.com:andrewferrier/debugprint.nvim.git
[submodule "bundle/telescope.nvim"]
	path = bundle/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "bundle/telescope-file-history.nvim"]
	path = bundle/telescope-file-history.nvim
	url = git@github.com:ColinKennedy/telescope-file-history.nvim.git
[submodule "bundle/vim-qf"]
	path = bundle/vim-qf
	url = git@github.com:ColinKennedy/vim-qf.git
[submodule "bundle/dial.nvim"]
	path = bundle/dial.nvim
	url = git@github.com:monaqa/dial.nvim.git
[submodule "bundle/smart-tab.nvim"]
	path = bundle/smart-tab.nvim
	url = git@github.com:boltlessengineer/smart-tab.nvim.git
[submodule "bundle/timeline.nvim"]
	path = bundle/timeline.nvim
	url = git@github.com:ColinKennedy/timeline.nvim.git
[submodule "bundle/opsort.vim"]
	path = bundle/opsort.vim
	url = git@github.com:ralismark/opsort.vim.git
[submodule "bundle/diffview.nvim"]
	path = bundle/diffview.nvim
	url = git@github.com:sindrets/diffview.nvim.git
[submodule "bundle/stay-centered.nvim"]
	path = bundle/stay-centered.nvim
	url = git@github.com:arnamak/stay-centered.nvim.git
[submodule "bundle/full_visual_line.nvim"]
	path = bundle/full_visual_line.nvim
	url = git@github.com:ColinKennedy/full_visual_line.nvim.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = git@github.com:Vimjas/vim-python-pep8-indent.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "bundle/vim-gf-user"]
	path = bundle/vim-gf-user
	url = git@github.com:kana/vim-gf-user.git
[submodule "bundle/sphinx.nvim"]
	path = bundle/sphinx.nvim
	url = git@github.com:stsewd/sphinx.nvim.git
[submodule "bundle/fzf-lua"]
	path = bundle/fzf-lua
	url = git@github.com:ibhagwan/fzf-lua.git
[submodule "bundle/vim-gf-diff"]
	path = bundle/vim-gf-diff
	url = git@github.com:ColinKennedy/vim-gf-diff.git
[submodule "bundle/ListToggle"]
	path = bundle/ListToggle
	url = git@github.com:ColinKennedy/ListToggle.git
[submodule "bundle/neotest"]
	path = bundle/neotest
	url = git@github.com:nvim-neotest/neotest.git
[submodule "bundle/FixCursorHold.nvim"]
	path = bundle/FixCursorHold.nvim
	url = git@github.com:antoinemadec/FixCursorHold.nvim.git
[submodule "bundle/neotest-plenary"]
	path = bundle/neotest-plenary
	url = git@github.com:nvim-neotest/neotest-plenary.git
[submodule "bundle/neotest-python"]
	path = bundle/neotest-python
	url = git@github.com:nvim-neotest/neotest-python.git
[submodule "bundle/todo-comments.nvim"]
	path = bundle/todo-comments.nvim
	url = git@github.com:folke/todo-comments.nvim.git
[submodule "bundle/mini.ai"]
	path = bundle/mini.ai
	url = git@github.com:echasnovski/mini.ai.git
[submodule "bundle/nvim-nio"]
	path = bundle/nvim-nio
	url = git@github.com:nvim-neotest/nvim-nio.git
[submodule "bundle/telescope-session-viewer"]
	path = bundle/telescope-session-viewer
	url = git@github.com:ColinKennedy/telescope-session-viewer.git
[submodule "bundle/toggleterminal.nvim"]
	path = bundle/toggleterminal.nvim
	url = git@github.com:ColinKennedy/toggleterminal.nvim.git
[submodule "bundle/substitute.nvim"]
	path = bundle/substitute.nvim
	url = git@github.com:gbprod/substitute.nvim.git
[submodule "bundle/spellbound.nvim"]
	path = bundle/spellbound.nvim
	url = git@github.com:ColinKennedy/spellbound.nvim.git
[submodule "bundle/refactoring.nvim"]
	path = bundle/refactoring.nvim
	url = git@github.com:ThePrimeagen/refactoring.nvim.git
[submodule "bundle/tiny-devicons-auto-colors.nvim"]
	path = bundle/tiny-devicons-auto-colors.nvim
	url = git@github.com:rachartier/tiny-devicons-auto-colors.nvim.git
[submodule "bundle/grapple-line.nvim"]
	path = bundle/grapple-line.nvim
	url = git@github.com:will-lynas/grapple-line.nvim.git
