*my_requirements.txt*	The things that my Neovim needs in order to work well

=======================================================================================
Sections
=======================================================================================

1. Plugins ......................................... *my_requirements_plugins*
2. CLIs ............................................... *my_requirements_clis*


=======================================================================================
1. Plugins                                           |my_requirements_plugins|

- lazy.nvim requires git 2.27+ so that it can used the --filter=blob:none
    - Reference: https://stackoverflow.com/a/51411174
    - Install on CentOS 7 with: https://computingforgeeks.com/install-git-2-on-centos-7/
- Requires jedi-language-server to be installed (for null-ls)
- For debugging [debugpy](https://pypi.org/project/debugpy)


=======================================================================================
2. CLIs                                                 |my_requirements_clis|

- Technically we need `fzf` but that auto-installs so don't worry about it
- Requires https://github.com/sharkdp/fd, for searching folder with :FzfCd / <leader>cD
